html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* Theme */

body {
  font-family: 'Helvetica Neue', sans-serif;
}

/* React */

#root {
  height: 100%;

  /* Make sure children margin are contained */
  overflow-y: hidden;
}
