@import "../stylesheets/config.scss";

.RoomColumn {
  width: 100%;
  margin-top: 2em;
}

.RoomColumn__Notes {
  background-color: $redWhiterColor;
  padding: 1em;
  margin: 0.75em;
  border-radius: $radius;
}

.RoomColumn__Note {
  background-color: $whiteWhiteColor;
  width: 100%;

  padding: 0.5em;
  border-radius: $radius;
  color: $darkColor;
  text-align: justify;

  position: relative;
}

.RoomColumn__Note > p {
  margin-bottom: 0;
}

.RoomColumn__Editor {
  font-family: $font;
  background-color: $whiteWhiteColor;
}

.RoomColumn__NoteAuthor {
  position: absolute;
  bottom: -0.3em;
  right: -0.3em;

  padding: 0.2em 0.3em;
  color: $whiteColor;

  background-color: $redColor;
  border-radius: $radius;

  margin-bottom: 0;
}
