@import "../stylesheets/config.scss";

.Column {
  width: 100%;
  margin-top: 2em;
}

.Column__Notes {
  background-color: $redWhiterColor;
  padding: 1em;
  margin: 0.75em;
  border-radius: $radius;
}
