@import "../stylesheets/config.scss";
@import "../stylesheets/utils.scss";

.Column {
  margin: 0.5rem;
  flex: 1 0 0;

  // Inner
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Column__top {
  h2 {
    margin: 0;
    text-align: center;
  }
}

.Column__top > * {
  margin-top: 1rem;
}

.Column__bottom {
  @extend .center-form;
}

.Column__bottom {
  margin-top: 3rem;
}
