@import "../stylesheets/config.scss";

.Link {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 1rem 0.5rem;

  background-color: $darkLighterColor;
  border-radius: $radiusBigger;

  cursor: pointer;

  &:hover {
    background-color: $darkLighterLighterColor;
  }

  &:active {
    background-color: $darkLighterColor;
  }

  position: relative;
}

.Link > * {
  padding: 0.5rem;
}

.Link__text {
  font-family: monospace;
  position: relative;
}

.Link__icon {
  // font-size: 2rem;
  width: 4rem;
}

.Link__confirmation {
  font-size: 75%;
  padding-top: 0;
  line-height: 1;
  // position: absolute;
  // font-family: monospace;
  // bottom: 0.25rem;
}
.-clicked {
  color: $redAltColor !important;
}
