@import "../stylesheets/config.scss";

.Note {
  background-color: $whiteWhiteColor;
  width: 100%;

  padding: 0.5em;
  border-radius: $radius;
  color: $darkColor;
  text-align: justify;

  // #badge-positionning
  // overflow: hidden;

  // #badge-positionning-alt

}

.Note > p {
  margin-bottom: 0;
}

.Note__badge {
  // #badge-positionning
  // float: right;
  // position: relative;
  // top: 0.3rem;
  // left: 0.3rem;

  // #badge-positionning-alt
  float: right;
  position: relative;
  top: 0.3rem;
  left: 1rem;

  // Badge style
  color: $whiteColor;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
  background-color: $redColor;
  border-radius: $radius;

  // margin-bottom: 0;

  // #badge-positionning-alt
  margin-bottom: -0.5rem;
}

// #badge-positionning-alt
.Note:after {
  content: "";
  clear: both;
  display: block;
}
