@import "../stylesheets/config.scss";

.Note {
  background-color: $whiteWhiteColor;
  width: 100%;

  padding: 0.5em;
  border-radius: $radius;
  color: $darkColor;
  text-align: justify;

  position: relative;

  overflow: hidden;
}

.Note > p {
  margin-bottom: 0;
}

.Note__Author {
  float: right;

  // position: relative;
  // bottom: 0rem;
  // right: 0rem;


  color: $whiteColor;
  padding: 0.2rem 0.3rem;
  margin: 0.2rem;
  background-color: $redColor;
  border-radius: $radius;

  // margin-bottom: 0;
}
