@import "../stylesheets/config.scss";

$_Room__v-margin: 1.5rem;

.Room {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Room__notes {
  flex-grow: 100;

  // Inner
  display: flex;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  justify-content: space-between;
  align-content: stretch;

  padding: 0 0.5rem;
}


.Room__info {
  flex-grow: 1;

  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: $redAltColor;
  }

  h2 ~ * {
    margin: 0.25rem;
  }

  // Inner
  display: flex;
  flex-direction: column;
  justify-content: center;

  // padding: 1.5rem;

  .Room__info-centered {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    > * {
      margin: $_Room__v-margin 0;
    }
  }

  .Room__info-bottom > * {
    margin: $_Room__v-margin 0;
  }

  .Room__info-footer {
    background-color: $darkLighterColor;

    > * {
      margin: $_Room__v-margin 0;
      // margin-bottom: 0 !important;
    }
  }
}

// Shared among children

.Room__status {
  font-style: italic;
}
