@import "../stylesheets/config.scss";

.Room {
  padding: 0 0.5em;
}

.Room__columns {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

@media (max-width: 1200px) {
  .Room__columns {
    display: block;
    margin: auto;
    max-width: 800px;
  }
}

.Room__footer {
  margin: 2em auto;

  h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: $redAltColor;
  }

  button {
    margin-top: 2em;
  }

  ul {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    // list-style: none;
    // padding-left: 20px;
    padding-left: 0;

    li {
      margin-bottom: 0.5em;
    }
  }
}
