@import "../stylesheets/config.scss";

.Room {
  padding: 0 1rem;
}

.Room__columns {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  // min-height: 600px; // TODO
}

@media (max-width: 1200px) {
  .Room__columns {
    display: block;
    margin: auto;
    max-width: 800px;
    min-height: unset;
  }
}

.Room__footer {
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
    color: $redAltColor;
  }

  ul {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    // padding-left: 20px;
    padding-left: 0;

    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    li:before {
      content: "►";
      padding-right: 10px;
    }
  }
}

.Room__status {
  font-style: italic;
}
