$darkColor: #262524;
$darkLighterColor: #c5c0b9;

$whiteWhiteColor: white;
$whiteColor: #F2F2F2;
$whiteYellowColor: #F2E6D8;

$redAltColor: #F20505;
$redColor: #F23535;
$redWhiterColor: #FAA; // TODO

$radius: 3px;

$font: 'Helvetica Neue', sans-serif;
$fontTitle: 'Press Start 2P', sans-serif;
