@import "./config.scss";

// Inputs
input, button, textarea {
  padding: 0.4em;
  font-size: 1em;

  border: none;
  border-radius: $radius;
}

// Buttons
button, input[type=submit] {
  background-color: $redColor;
  color: $whiteColor;

  cursor: pointer;

  &:hover {
    background-color: $redAltColor;
  }
  &:active {
    background-color: $redColor;
  }
}

html {
  font-family: $font;
}
